h3,
h4,
h5 {
  text-align: center;
}

body {
  color: whitesmoke;
  font-size: 0.95em;
}

.form-check-label {
  word-break: break-all;
}

.btn-doors {
  padding: 0;
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
}

.btn-doors[name="remove"] {
  margin-left: 1em;
  display: none;
}

.blockBorder {
  margin: 0;
  padding: 0.5em 0;
  border: 1px solid black;
  border-radius: 0.25em;
  row-gap: 10px;
}

.miracleBlock {
  display: none;
}
